@import 'desktop/globals';

.tao-page.docs main {
  display: flex;

  aside {
    width: 160px;
    flex: 0 0 auto;
    margin: 0 2rem 0 0;
    padding: 0 0 0 0.5rem;

    .link-return {
      color: $lighter-grey-color;
      font-size: $font-size-s;

      &:hover {
        color: $link-hover-color;
      }

      &:before {
        content: '<';
        margin: 0 0.25rem 0 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 1.5rem 0 0 0;

      li {
        margin-bottom: 0.5rem;

        a {
          color: $text-color;

          &:hover {
            color: $link-hover-color;
          }

          &.active {
            color: $ui-color;
          }
        }
      }
    }
  }

  article {
    flex: 1 1 auto;

    & > h3 {
      padding: 0 0 0.5em;
      border-bottom: 1px solid $border-color;
    }
  }
}
