.docs-ui-sortable {
  .sortable-demo {
    .list {
      display: flex;
      margin: 0 0 1rem 0;
      padding: 1rem 0 0 1rem;
      background: $grey-bg-color;
      min-height: 5rem;
      flex-wrap: wrap;

      &:last-child {
        margin-bottom: 0;
      }

      .item {
        width: 3rem;
        height: 3rem;
        line-height: 3rem;
        background: $white-color;
        text-align: center;
        border: 1px solid $border-color;
        margin: 0 1rem 1rem 0;

        &.big-item {
          width: auto;
          height: auto;
          min-width: 6rem;
          padding: 1rem 0 0 1rem;
          display: flex;
          align-items: center;

          & > .num {
            margin: 0 1rem 1rem 0;
          }

          & > .list {
            padding: 0;
            min-height: 3rem;
            background: none;
            min-width: 3rem;
          }
        }

        &.tao-sortable-placeholder {
          border-style: dashed;
          color: transparent;
        }
      }
    }

  }
}
