@import 'desktop/globals';

.tao-page.docs-ui-popover {

  .popover-example {
    width: 800px;
    height: 600px;
    border: 1px solid $border-color;
    position: relative;

    .button {
      position: absolute;
    }

    .button-popover-1 {
      top: 20px;
      left: 20px;
    }

    .button-popover-2 {
      bottom: 20px;
      left: 20px;
    }

    .button-popover-3 {
      top: 20px;
      right: 20px;
    }

    .button-popover-4 {
      bottom: 20px;
      right: 20px;
    }

    .button-popover-5 {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}
