<%= tao_tree_list departments, {
  selectable: selectable,
  selected: selected,
  depth: depth,
  remote: -> (department, depth) {
    { url: docs_department_tree_items_path(department[:id]) }
  }
} do |department| %>
  <span class="department-<%= department[:id] %>">
    <%= department[:name] %>
  </span>
<% end %>
