<%= render 'docs/form/sidebar' %>

<article>
  <h3>选择字段</h3>

  <div class="example example-with-border">
    <%= render 'docs/form/select_field/form', person: Doc::Form::Person.new %>
  </div>

</article>
