<%= render 'docs/form/sidebar' %>

<article>
  <h3>文本字段</h3>

  <div class="example example-with-border">
    <%= render 'docs/form/text_field/form', person: Doc::Form::Person.new %>
  </div>

</article>
