@import 'mobile/globals';
@import 'shared/components/api_item';

tao-api-item {
  .api-title {
    margin-bottom: 0.25em;

    .name {
      padding: 0 0 0 0.125rem;
    }

    .tags {
      margin: 0.5em 0 0 0;
      width: 100%;

      .tag {
        margin: 0 0.5em 0.5em 0 ;
      }
    }
  }
}
