@import 'mobile/globals';

.tao-page[layout='default'] {
  width: 100%;

  $header-height: 3rem;

  tao-mobile-header {
    display: block;
    height: $header-height;
    overflow: hidden;
    border-bottom: 1px solid $border-color;
    transition: height 200ms;

    header {
      display: flex;
      height: $header-height;
      justify-content: space-between;

      .title {
        display: flex;
        padding: 0 0 0 1rem;
        align-items: center;

        h1 {
          color: $grey-color;
          margin: 0;
        }

        .desc {
          margin: 0 0 0 0.75rem;
          color: $lightest-grey-color;
          font-size: $font-size-xs;
        }
      }

      .link-nav {
        display: flex;
        width: $header-height;
        height: $header-height;
        align-items: center;
        justify-content: center;
        fill: $lighter-grey-color;

        &:active {
          background: $grey-bg-color;
        }

        .icon {
          display: block;
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }

    nav {
      padding: 0 1em 1em 1em;

      a {
        display: block;
        padding: 0.5em 0;
        color: $text-color;
        text-align: center;

        &:active {
          background: $grey-bg-color;
        }

        &.active {
          color: $ui-color;
        }
      }
    }

    &[active] {
      height: 9rem + $header-height;
    }
  }

  main {
    article {
      padding: 1.5em;
    }
  }
}
