@import '../../../shared/docs/page';

.page.docs main {
  position: relative;

  aside {
    width: 10rem;
    // margin: 0 2rem 0 0;
    padding: 0 0 0 0.5rem;
    position: absolute;
    top: 0;
    left: 0;

    .link-return {
      color: $lighter-grey-color;
      font-size: $font-size-s;

      &:hover {
        color: $link-hover-color;
      }

      &:before {
        content: '<';
        margin: 0 0.25rem 0 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 1.5rem 0 0 0;

      li {
        margin-bottom: 0.5rem;

        a {
          color: $text-color;

          &:hover {
            color: $link-hover-color;
          }

          &.active {
            color: $ui-color;
          }
        }
      }
    }
  }

  article {
    margin: 0 0 0 12rem;
  }
}
