.tao-page.docs-ui-icons {
  .default-icons {
    display: flex;

    .icon-example {
      margin: 0 1rem 1rem 0;

      .wrapper {
        width: 100px;
        height: 100px;
        background: $grey-bg-color;
        border-radius: $border-radius-s;
        display: flex;
        align-items: center;
        justify-content: center;

        .icon {
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      &.large .wrapper .icon {
        width: 4rem;
        height: 4rem;
      }

      .name {
        width: 100px;
        margin: 0.25rem 0 0 0;
        font-size: $font-size-xs;
        text-align: center;
        color: $lighter-grey-color;
        word-break: break-all;
      }
    }
  }
}
