<aside>
  <%= link_to t('.return_docs'), docs_path, class: 'link-return' %>

  <h2>Tao UI</h2>

  <ul>
    <%
      sections = if request.variant.mobile?
        %w(basic variables icons buttons table slide_box)
      else
        %w(basic variables icons buttons table slide_box popover tooltip dialog sortable)
      end
    %>
    <% sections.each do |section| %>
    <li>
      <%= link_to t(".#{section}"), doc_path(path: "ui/#{section}"), class: @doc_path == "ui/#{section}" ? 'active' : '' %>
    </li>
    <% end %>
  </ul>
</aside>
