<%= render 'docs/ui/sidebar' %>

<article>
  <h3>普通按钮</h3>

  <p>
    <button>按钮一</button>
    <button class="button-primary">按钮一</button>
    <button class="button-small">按钮一</button>
    <button class="button-primary">按钮一</button>
  </p>

  <h3>链接按钮</h3>


</article>
