@import 'mobile/globals';

.tao-page.docs main {
  aside {
    padding: 1.5em 2em;
    background: $grey-bg-color;

    .link-return {
      color: $lighter-grey-color;
      font-size: $font-size-s;

      &:before {
        content: '<';
        margin: 0 0.25rem 0 0;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 1.5rem 0 0 0;

      li {
        a {
          display: block;
          padding: 0.5em 0;
          color: $text-color;
          line-height: $default-line-height;

          &.active {
            color: $ui-color;
          }
        }
      }
    }
  }

  article {
    & > h3 {
      padding: 0 0 0.5em;
      border-bottom: 1px solid $border-color;
    }

    .example-with-border {
      border: 1px solid $border-color;
    }
  }
}
